<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="https://www.linkedin.com/in/jim-silvester-a762661b/" target="_blank" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="https://github.com/ExtraLargeBaconPizza" target="_blank" class="social-item"><span class="icon-github2"></span></a>
                    <a href="https://www.instagram.com/frednbarneygoats/" target="_blank" class="social-item"><span class="icon-instagram2"></span></a>
                    <a href="https://leetcode.com/ExtraLargeBaconPizza/" target="_blank" class="social-item"><span class="icon-leetcode"></span></a>
                </p>
            </div>
        </div>

        <div class="row">
            <p class="col-12 text-center">
                Site built with 
                Angular <i class="devicon-angularjs-plain colored"></i>, 
                SCSS <i class="devicon-sass-original colored"></i>,
                and Bootstrap <i class="devicon-bootstrap-plain colored"></i><br>
                &copy; <script>document.write(new Date().getFullYear());</script> Jim Silvester | Extra Large Bacon Pizza</p> 
        </div>
    </div>
</footer>