<section class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6 pr-lg-5 mt-5 mb-5 mb-lg-0">
                <img src="../../assets/images/jim.jpeg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="section-heading">
                    <h2>About <strong>Me</strong></h2>
                </div>
                <p class="mb-5">
                    Highly skilled Programmer, Developer, and Designer with over 10 years of experience. 
                    Specialising in Front-End Web, Mobile App, and Video Game development. 
                    Named inventor on a patent. Developed mobile apps with user’s bases exceeding 100,000.
                    Well versed in all aspects of software development including: Planning, Analysis, Design, Implementation, Testing, and Maintenance. 
                    Experienced in designing User Interfaces, Novel Human Computer Interactions, and Video Games using an Agile Scrum Methodology. 
 
                    <br><br>
                    My hobbies include: outdoor adventuring, working with my hands, anything related to woodworking, dirtbiking, snowboarding, snowmobiling, video games, and riding horses.
                </p>

                <div>
                    <button (click)="scrollToSection('section-contact')" class="btn btn-primary px-4 py-2 btn-sm">Hire Me</button>
                    <a href="../../assets/resume/Jim Silvester, Resume.pdf" download target="_blank" class="btn btn-secondary px-4 py-2 btn-sm" >Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>