<section class="site-section " id="section-resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2>My <strong>Resume</strong></h2>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="mb-5">Experience</h2>

                <a class="resume-link" target="_blank" href ="https://www.asatteinc.com/">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Apr 2022 - Present</span>
                        <h3>Software Engineer</h3>
                        <ul class="description">
                            <li>Lead developer in the modernization of the Clinic Management System (CMS) and Central Research Database (CRDB), a national Canadian clinic management system and research database for Congestive Heart Failure.</li>
                            <li>Responsible for taking legacy Microsoft Access, VBA, SQL server software systems and reimplementing them in the Blazor framework with C# code.</li>
                            <li>Key heart failure hospitals across Canada and top heart failure researchers currently participate.</li>
                            <li>Spearheading new Ai Integration features used to provide data-driven insights such as analysing patterns in a patient's medical history and current health data to predict potential health risks.</li>
                        </ul>
                        <span class="site-link">Asattte Systems Inc <i class="icon-chevron-right"></i></span>
                    </div>
                </a>

                <div class="resume-link" (click)="scrollToSection('section-about')">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Mar 2020 - Apr 2022</span>
                        <h3>Independent Contractor</h3>
                        <ul class="description">
                            <li>Engineered and deployed websites for clients, showcasing code mastery in HTML5, CSS3, and JavaScript. Led the entire process from conception to execution, utilising Visual Studio Code for efficient development and Git for collaborative version control.</li>
                            <li>Meticulously designed and implemented a 2000 watt volcanic eruption LED mobile art installation for a Burning Man Art Car. Managed the complete engineering build ensuring full reliability of installation for harsh weather conditions and usage.</li>
                            <li>Built multiple mobile apps and chrome extensions for the purpose of blocking ads on YouTube and Reddit.</li>
                        </ul>
                        <span class="site-link">Extra Large Bacon Pizza <i class="icon-chevron-right"></i></span>
                    </div>
                </div>

                <a class="resume-link" target="_blank" href ="https://en.wikipedia.org/wiki/ASAP_(food_delivery)">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Jul 2018 - Feb 2020</span>
                        <h3>Intermediate Software Engineer</h3>
                        <ul class="description">
                            <li>Integral part of a three-member front-end mobile app team, overseeing the entire engineering build, implementation, and debugging process of Android and iOS consumer apps. Employed Xamarin.Android and Xamarin.iOS, managing codebase through Visual Studio Code, Jira, Bugsee, and Git.</li>
                            <li>Personally spearheaded screens implementation, ensuring pixel-perfect UI designs and seamless user interactions throughout the entire app.</li>
                            <li>Monthly user bases exceeding 100,000, helping the company to expand the app's reach to over 50 cities in the USA.</li>
                            <li>Implemented rigorous testing methodologies, resulting in a remarkable app crash rate of less than 0.1%.</li>
                            <li>Thrived as a member of a cross functional team, actively participating in collaborative efforts of design and testing, contributing insights, and fostering innovation within the development process.</li>
                        </ul>
                        <span class="site-link">BiteSquad (Currently named ASAP) <i class="icon-chevron-right"></i></span>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://www.tenzrhealth.com/">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Apr 2016 - Jul 2018</span>
                        <h3>Lead UI/UX Developer and Designer</h3>
                        <ul class="description">
                            <li>Responsible for the software development supporting first of its kind wearable smart strap technology which detects hand gestures and finger motion. Used primarily for gesture control, stroke rehabilitation, and repetitive stress injury monitoring.</li>
                            <li>Designed and developed all software used for technology demonstrations, sensor visualisation, device connections, progress tracking, IoT controller, virtual reality controller, video game controller, and other assorted demos using Unity3D and Android Studio.</li>
                            <li>Filed a patent as the principal inventor for titled: "Apparatus And Methods For Detecting, Quantifying, and Providing Feedback On User Gestures" (Serial number 16/763,769).</li>
                            <li>Collaborated seamlessly with the hardware production team, ensuring a harmonious integration of software and hardware elements for a comprehensive user experience.</li>
                        </ul>
                        <span class="site-link">BioInteractive Technologies <i class="icon-chevron-right"></i></span>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://www.sfu.ca/">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Sept 2012 - Mar 2016</span>
                        <h3>Research and Teaching Assistant</h3>
                        <ul class="description">
                            <li>Developed several multiplayer video games used in experiments by a team of Ph.D Economists.</li>
                            <li>Lead and mentored over 90 students in weekly immersive programming and design workshops, emphasising hands-on screen implementation and debugging techniques throughout the entire process.</li>
                            <li>Teaching Assistant for the following courses: 4th year Advanced Game Design (three times), 2nd year Multimedia Programming for Art & Design (twice), and 2nd year Human Computer Interaction.</li>
                        </ul>                        
                        <span class="site-link">Simon Fraser University <i class="icon-chevron-right"></i></span>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://globaladvantageconsulting.com/">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> May 2010 - Aug 2012</span>
                        <h3>Head of Technical Development</h3>
                        <ul class="description">
                            <li>Developed data visualisation tools that use dynamic data sets to help analyse global innovation systems.</li>
                            <li>Designed and built several websites including the company's website, content management systems, and database driven websites.</li>
                        </ul>                        
                        <span class="site-link">Global Advantages Consulting <i class="icon-chevron-right"></i></span>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <h2 class="mb-5">Skills</h2>

                    <div class="resume-item">
                        <h3 class="mb-4">Programming Languages</h3>

                        <app-skill skillLogo="devicon-c-plain colored" skillName="C"/>
                        <app-skill skillLogo="devicon-csharp-plain colored" skillName="C#"/>
                        <app-skill skillLogo="devicon-cplusplus-plain colored" skillName="C++"/>
                        <app-skill skillLogo="devicon-css3-plain colored" skillName="CSS" />
                        <app-skill skillLogo="devicon-html5-plain colored" skillName="HTML5" />
                        <app-skill skillLogo="devicon-java-plain colored" skillName="Java" />
                        <app-skill skillLogo="devicon-javascript-plain colored" skillName="JavaScript" />
                        <app-skill skillLogo="devicon-lua-plain colored" skillName="Lua" />
                        <app-skill skillLogo="devicon-mysql-plain colored" skillName="MySQL" />
                        <app-skill skillLogo="devicon-php-plain colored" skillName="PHP" />
                        <app-skill skillLogo="devicon-processing-plain colored" skillName="Processing" />
                        <app-skill skillLogo="devicon-python-plain colored" skillName="Python" />
                        <app-skill skillLogo="devicon-sass-plain colored" skillName="SCSS" />
                        <app-skill skillLogo="devicon-swift-plain colored" skillName="Swift" />
                        <app-skill skillLogo="devicon-typescript-plain colored" skillName="TypeScript" />
                    </div>

                    <div class="resume-item mb-4 mt-5">
                        <h3 class="mb-4">Tools</h3>

                        <app-skill skillLogo="devicon-android-plain colored" skillName="Android Studio" />
                        <app-skill skillLogo="devicon-angularjs-plain colored" skillName="Angular" />
                        <app-skill skillLogo="devicon-arduino-plain colored" skillName="Arduino" />
                        <app-skill skillLogo="devicon-blazor-original colored" skillName="Blazor" />
                        <app-skill skillLogo="devicon-blender-original colored" skillName="Blender" />
                        <app-skill skillLogo="devicon-git-plain colored" skillName="Git" />
                        <app-skill skillLogo="devicon-github-plain colored" skillName="GitHub" />
                        <app-skill skillLogo="devicon-colab-plain colored" skillName="Google Colab" />
                        <app-skill skillLogo="devicon-illustrator-plain colored" skillName="Illustrator" />
                        <app-skill skillLogo="devicon-jquery-plain colored" skillName="jQuery" />
                        <app-skill skillLogo="devicon-keras-plain colored" skillName="Keras" />
                        <app-skill skillLogo="devicon-photoshop-plain colored" skillName="Photoshop" />
                        <app-skill skillLogo="devicon-pytorch-plain colored" skillName="PyTorch" />
                        <app-skill skillLogo="devicon-scikitlearn-plain colored" skillName="ScikitLearn" />
                        <app-skill skillLogo="devicon-tensorflow-original colored" skillName="TensorFlow" />
                        <app-skill skillLogo="devicon-unity-plain colored" skillName="Unity3D" />
                        <app-skill skillLogo="devicon-unrealengine-plain colored" skillName="Unreal Engine" />
                        <app-skill skillLogo="devicon-visualstudio-plain colored" skillName="Visual Studio Code" />
                        <app-skill skillLogo="devicon-xamarin-plain colored" skillName="Xamarin" />
                        <app-skill skillLogo="devicon-xcode-plain colored" skillName="Xcode"/>
                    </div>
                
                <h2 class="mt-5 mb-5">Education</h2>

                <a class="resume-link" target="_blank" href ="https://bitdegree.ca/index.php?Program=IMD">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> 2024</span>
                        <h3>IBM AI Engineering Professional Certificate</h3>
                        <p class="description">IBM Skills Network</p>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://bitdegree.ca/index.php?Program=IMD">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> 2024</span>
                        <h3>IBM Applied Ai Professional Certificate</h3>
                        <p class="description">IBM Skills Network</p>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://bitdegree.ca/index.php?Program=IMD">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Sept 2008 - Apr 2012</span>
                        <h3>Bachelor of Information Technology</h3>
                        <p class="description">School of Information Technology - Interactive Multimedia and Design</p>
                        <span>Carleton University</span>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://www.algonquincollege.com/mediaanddesign/program/bit-interactive-multimedia-and-design/">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Sept 2008 - Apr 2012</span>
                        <h3>Advanced Technology Diploma</h3>
                        <p class="description">School of Media and Design - Interactive Multimedia and Design</p>
                        <span>Algonquin College</span>
                    </div>
                </a>

                <a class="resume-link" target="_blank" href ="https://www.sfu.ca/siat/programs/graduate.html">
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> Sept 2012 - Apr 2014</span>
                        <h3>Graduate Studies Coursework</h3>
                        <p class="description">School of Interactive Arts and Technology</p>
                        <span>Simon Fraser University</span>
                    </div>
                </a>	
            </div>
        </div>
    </div>
</section>
